Source: wdt-vortex
Section: kernel
Priority: optional
Maintainer: Gordon <maclean@ucar.edu>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.8
Homepage: https://winsystems.com

Package: wdt-vortex
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Watchdog for Vortex86DX3 SoC
 Kernel module, user test program and header file for on-board
 watchdog on a Vortex86DX3 SoC.
